---
import TeacherLayout from '../../../layouts/TeacherLayout.astro';
import LessonPlanForm from '../../../components/teacher/LessonPlanForm.astro';
---

<TeacherLayout title="Create Lesson Plan">
  <div class="container">
    <h1>Create Lesson Plan</h1>
    <LessonPlanForm />
  </div>
</TeacherLayout>
