---
import TeacherLayout from '../../../layouts/TeacherLayout.astro';
import RecordOfWorkForm from '../../../components/teacher/RecordOfWorkForm.astro';
---

<TeacherLayout title="Create Record of Work">
  <div class="container">
    <h1>Create Record of Work</h1>
    <RecordOfWorkForm />
  </div>
</TeacherLayout>
