---
import Stars from "../assets/stars.svg";
---

<section class="product-reviews" id="customers">
  <div class="container">
    <div class="center">
      <div class="text-container">
        <h3 class="h1-title">Trusted by Zambian Educators</h3>
        <p>
          Join fellow teachers who have transformed their classrooms with our
          mobile app. Create lesson plans, record class activities, and develop
          schemes of work effortlessly— all while saving time and ditching the
          paper trail.
        </p>
      </div>

      <div class="customer-reviews m-margin">
        <div class="flex center">
          <img src={Stars} />
          <span class="s-paragraph">Based on 20+ reviews</span>
        </div>
      </div>
      <div class="center">
        <a href="/join_waitlist" class="button button-primary">Become a Beta User</a>
      </div>
    </div>

    <div class="customer-avatars">
      <div class="left-side-avatars">
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/4262464/pexels-photo-4262464.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/6150687/pexels-photo-6150687.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/30506727/pexels-photo-30506727/free-photo-of-professional-portrait-of-a-man-in-zaria-nigeria.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/1820575/pexels-photo-1820575.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
      </div>
      <div class="right-side-avatars">
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/3753123/pexels-photo-3753123.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/2033447/pexels-photo-2033447.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/11515440/pexels-photo-11515440.jpeg?auto=compress&cs=tinysrgb&w=800&h=800"
          />
        </div>
        <div class="circular-image">
          <img
            src="https://images.pexels.com/photos/5816287/pexels-photo-5816287.jpeg?auto=compress&cs=tinysrgb&w=8000&h=800"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .product-reviews {
    padding: 80px 0;
    background-color: #fff;
    .customer-reviews {
      img {
        width: 80px;
      }
      span {
        margin-left: 10px;
      }
    }
    .text-container {
      max-width: 400px;
      margin: 10px auto;
    }
    p,
    h3 {
      margin: 10px 0;
    }
    .container {
      padding: 70px 0;
      position: relative;
    }
    .customer-avatars {
      .circular-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 100%;
        }
      }

      .circular-image {
        position: absolute;
      }
      .left-side-avatars .circular-image {
        &:nth-child(1) {
          top: 0;
          left: 20%;
        }
        &:nth-child(2) {
          top: 14%;
          left: 5%;
        }
        &:nth-child(3) {
          bottom: 14%;
          left: 5%;
        }
        &:nth-child(4) {
          bottom: 0%;
          left: 20%;
        }
      }
      .right-side-avatars .circular-image {
        &:nth-child(1) {
          top: 0;
          right: 20%;
        }
        &:nth-child(2) {
          top: 14%;
          right: 5%;
        }
        &:nth-child(3) {
          bottom: 14%;
          right: 5%;
        }
        &:nth-child(4) {
          bottom: 0%;
          right: 20%;
        }
      }
    }

    @media (max-width: 700px) {
      .circular-image img {
        display: none;
      }
    }
  }
</style>
